[run]
#branch=True
omit =
    */test_*
    *__init__.py
    */.tox/*

[paths]
source = 
    hod/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    raise AssertionError
    if 0:
    if __name__ == .__main__.:
